<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="main_header_container">
    <h1 id="data_header">
    </h1> <!-- data_header -->
    <h2 id="data_paragraph">
    </h2> <!--  data_paragraph -->
  </div> <!-- main_header_container -->
  <div id="main_content_container">
    <div id="webpage_content_container">
      <div id="webpage_header_content">
        <img id="browserHeaderImage" src="resources/templates/multiWebPage/multiWebPage_top.jpg">
      </div> <!-- webpage_header_content -->
      <div id="webpage_body_container">
        <h1 id="data_articleTitle">
        </h1> <!-- data_articleTitle -->
        <div id="webpage_images_container">
          <div id="webpage_left_container">
            <div id="webPageHeader_container">
              <h2 id="data_webPageHeader">
              </h2> <!-- data_webPageHeader -->
              <span class="reviews">
                1074 reviews
              </span>
            </div> <!-- webPageHeader_container -->
            <div id="mainImage_container">
              <img id="mainImage" src="resources/templates/multiWebPage/market.jpg">
            </div> <!-- mainImage_container -->
            <div id="data_subText_container">
              <a href="#" id="data_subText">
              </a>
            </div> <!-- data_subText_container -->
          </div> <!-- webpage_left_container -->
          <img id="fakeNavigationImage" src="resources/templates/multiWebPage/multiWebPage_right.jpg">
        </div> <!-- webpage_images_container -->
        <div id="scroller_content_container">
          <ul id="mycarousel" class="jcarousel-skin-tango">
          </ul> <!-- mycarousel -->
        </div> <!-- scroller_content_container -->
      </div> <!-- webpage_body_container -->
    </div> <!-- webpage_content_container -->
  </div> <!-- main_content_container -->
</div> <!-- main_container -->
<div id="navigation_container">
</div> <!-- navigation_container -->