<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="main_header_container">
    <h1 id="data_header">
    </h1> <!-- data_header -->
    <h2 id="data_paragraph">
    </h2> <!-- data_paragraph -->
  </div> <!-- main_header_container -->
  <div id="main_content_container">
    <div id="free_write_container_wrapper">
      <div id="free_write_container" class="clearfix">
        <div id="free_write_content_left_container">
          <div id="tabs">
          </div><!-- tabs -->
          <div id="content_wrapper">
            <div id="data_article_content">
            </div> <!-- data_article_content -->
            <div id="data_notes_content">
            </div> <!-- data_notes_content -->
            <div id="data_video_content">
            </div> <!-- data_video_content -->
            <div id="data_video_notes_content">
            </div> <!-- data_video_notes_content -->
			<div id="data_article_notes_content">
			</div><!-- data_article_notes_content -->
          </div> <!-- content_wrapper -->
        </div><!-- free_write_content_left_container -->
        <div id="free_write_content_right_container">
          <div id="header_container">
            <h1 id="data_answerAreaHeader">
            </h1> <!-- data_answerAreaHeader -->
            <p id="data_answerAreaDirections">
            </p> <!-- data_answerAreaDirections -->
          </div> <!-- header_container -->
          <div id="content_container">
            <textarea id="video_answer_0"></textarea>
          </div> <!--content_container -->
        </div> <!-- free_write_content_right_container -->
      </div> <!-- free_write_container -->
    </div> <!-- free_write_container_wrapper -->
  </div> <!-- main_content_container -->
</div> <!-- main_container -->
<div id="navigation_container">
</div> <!-- navigation_container -->