<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="main_header_container">
    <h1 id="data_header">
    </h1>
    <h2 id="data_paragraph">
    </h2>
  </div> <!-- main_header_container -->
  <div id="newspaper_container_wrapper">
    <div id="newspaper_container">
      <div id="newspaper_header_container">
        <div id="data_newspaper_header_title">
        </div> <!-- data_newspaper_header_title -->
        <div id="newspaper_header_edition">
        </div> <!-- newspaper_header_edition -->
        <div id="newspaper_header_date">
        </div> <!-- newspaper_header_date -->
      </div> <!-- newspaper_header_date -->
      <div id="newspaper_main_container">
        <div id="headline_container">
          <div id="data_articleTitle">
          </div> <!-- data_articleTitle -->
          <div id="data_byline">
          </div> <!-- data_byline -->
        </div> <!-- headline_container -->
        <div id="body_container">
          <div id="newspaper_column1_content">
            <img id='data_image'>
            <div id="data_articleCol1">
            </div> <!-- data_articleCol1 -->
          </div> <!-- newspaper_column1_content -->
          <div id="newspaper_column2_content">
            <div id="data_articleCol2">
            </div> <!-- data_articleCol2 -->
          </div> <!-- newspaper_column2_content -->
        </div> <!-- body_container -->
      </div> <!-- newspaper_main_container -->
    </div> <!-- newspaper_container_wrapper -->
  </div> <!-- newspaper_container -->
</div> <!-- main_container -->
<div id="navigation_container">
</div><!-- navigation_container -->