<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="main_header_container">
    <h1 id="data_header">
    </h1>
    <h2 id="data_paragraph">
    </h2>
  </div> <!-- main_header_container -->
  <div id="main_content_container">
    <div id="data_contentText" class="data_contentText">
    </div> <!-- data_textBody -->
    <div id="graphic_container">
      <div id="data_graphic_container">
       <img id="data_graphic">
      </div>
      <span id="data_caption">
      </span>
    </div> <!-- graphic_container -->
  </div> <!-- main_content_container -->
  <div id="data_timeline" class="data_timeline">
  </div> <!-- data_timeline -->
</div> <!-- main_container -->

<div id="navigation_container">
</div> <!-- navigation_container -->