<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="main_header_container">
    <h1 id="data_header">
    </h1>
    <h2 id="data_paragraph">
    </h2>
  </div> <!-- main_header_container -->
  <div id="main_content_container">
    <div id="message_container_wrapper">
      <div id="message_container">
        <div id="message_image">
         &nbsp;
        </div> <!-- message_image -->
        <div id="data_assignmentMessage">
        </div> <!-- data_assignmentMessage -->
      </div> <!-- message_container -->
    </div> <!-- message_container_wrapper -->
    <div id="body_container_wrapper">
      <div id="body_container">
        <div id="video_container">
          <div id="data_videoURL">
          </div> <!-- data_videoURL -->
          <div id="data_videoCaption">
          </div> <!-- data_videoCaption -->
        </div> <!-- video_container -->
        <div id="body_inner_container">
          <h2 id="data_notesTitle">
          </h2> <!-- data_notesTitle -->
          <ul id="data_notes">
          </ul> <!-- data_notes -->
        </div> <!-- body_inner_container -->
      </div> <!-- body_container -->
    </div> <!-- body_container_wrapper -->
  </div> <!-- main_content_container -->
</div> <!-- main_container -->
<div id="navigation_container">
</div> <!-- navigation_container -->