<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="main_header_container">
    <h1 id="data_header">
    </h1>
    <h2 id="data_paragraph">
    </h2>
  </div> <!-- main_header_container -->
  <div id="main_content_container">
    <div id="portrait_container">
      <div id="portrait_image_container" class="data_portrait_image">
        <img id="data_portrait_image">
      </div>
      <div id="data_portrait_caption">
      </div>
    </div> <!-- portrait_container -->
    <div id="questions_container">
      <h2 id="data_question_containerH2" class="data_question_containerH2">
      </h2>
      <img id="data_tooltip">
      <div id="ul_container">
      </div> <!-- ul_container -->
    </div> <!-- questions_container -->
  </div> <!-- main_content_container -->
</div> <!-- main_container -->
<div id="navigation_container">
</div> <!-- navigation_container -->