<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="main_header_container">
    <h1 id="data_header">
    </h1> <!-- data_header -->
    <h2 id="data_paragraph">
    </h2> <!-- data_paragraph -->
  </div> <!-- main_header_container -->
  <div id="FA_Activity_container">
    <div id="feedback">
    </div> <!-- feedback -->
    <div id="question_container">
    </div> <!-- question_container -->
    <div id="data_transaction_buttton">
    </div> <!-- data_transaction_buttton -->
  </div> <!-- FA_Activity_container -->
</div> <!-- main_container -->
<div id="toolbar_container">
</div> <!-- toolbar_container -->
<div id="navigation_container">
</div><!-- navigation_container -->