<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="main_header_container">
    <h1 id="data_header">
    </h1> <!-- data_header -->
    <h2 id="data_paragraph">
    </h2> <!-- data_paragraph -->
  </div> <!-- main_header_container -->
  <div id="clickPic_container">
    <p id="clickPic_header_container">
      <img id="data_clickPic_header_content"> <!-- data_clickPic_header_content -->
    </p> <!-- data_clickPic_header_content -->
    <div id="data_clickPic_content">
    </div> <!-- data_clickPic_content -->
  </div> <!-- clickPic_container -->
</div> <!-- main_container -->
<div id="navigation_container">
</div><!-- navigation_container -->