#body_container {
 background: #ffffff;
 overflow: hidden;
 padding: 20px;
}

#body_container #body_inner_container {
 float: left;
 margin-left: 35px;
 width: 40%;
}

#body_container #body_inner_container #controls {
 float: left;
}

#body_container #body_inner_container #data_podcast {
 color: #333333;
 font-size: 12px;
 font-weight: bold;
 margin: 45px 0 6px;
}

#body_container #body_inner_container #data_podcastMessage {
 color: #737373;
 font-size: 1.2em;
}

#body_container #body_inner_container #data_script {
 clear: right;
 color: #333333;
 font-size: 1.3em;
 font-weight: bold;
 height: 40px;
 margin: 8px 0 6px;
 margin-top: 35px;
}

#body_container #body_inner_container #record_text {
 color: #737373;
 font-size: 1.2em;
}

#body_container #body_inner_container #play {
 background: url("../../img/sprite.gif") repeat scroll -302px -867px transparent;
 display: block;
 float: left;
 height: 32px;
 left: -47px;
 outline: 0 none;
 position: relative;
 text-indent: -10000px;
 top: -1px;
 width: 32px;
}

#body_container #body_inner_container #playing {
 color: #FFFFFF;
 font-size: 16px;
 font-weight: bold;
 padding-top: 4px;
 position: absolute;
 text-align: center;
 text-decoration: none;
 top: -5px;
 width: 100%;
}

#body_container #body_inner_container #progress_content {
 background: url(../../img/bg_recorderPlaying.gif) repeat-x;
 height: 24px;
 position: absolute;
 top: 0px;
 width: 1px;
}

#body_container #body_inner_container #progress_wrapper {
 background: #4A4A4A;
 float: left;
 height: 24px;
 margin-left: 45px;
 position: relative;
 width: 65%;
}

#body_container #body_inner_container #progress_wrapper a {
 outline: medium none;
 text-decoration: none;
 z-index: 1;
}

#body_container #body_inner_container #seperator {
 border-top: 1px dashed #333333;
 margin-right: 30px;
 margin-top: 25px;
}

#body_container #body_inner_container #stopPlaying {
 background: url("../../img/sprite.gif") repeat scroll -362px -867px transparent;
 display: block;
 float: left;
 height: 26px;
 left: -47px;
 outline: 0 none;
 position: relative;
 text-indent: -10000px;
 top: -1px;
 width: 32px;
}

#body_container_wrapper {
 background: #e5e5e5;
 clear: both;
 margin-top: 20px;
 overflow: auto;
 padding: 15px;
 position: relative;
}

#body_container_wrapper .sb-shadow {
 background: #e5e5e5;
}

#main_content_container {
 margin: 0 30px;
 overflow: auto;
}

#message_container {
 overflow: auto;
}

#message_container #data_assignmentMessage {
 color: #336600;
 font-size: 1.2em;
 font-weight: bold;
 margin-left: 65px;
 margin-top: 17px;
}

#message_container #message_image {
 background: url("../../img/sprite.gif") no-repeat scroll 0 1px transparent;
 float: left;
 height: 53px;
 margin-left: 1%;
 width: 37px;
}

#message_container_wrapper {
 background: #d1f0be;
 width: 100%
}

#video_container {
 float: left;
 width: 450px;
}

.accept {
 background: url("../../img/sprite.gif") -298px -909px;
 display: block;
 height: 26px;
 margin: 0 auto;
 outline: 0px;
 text-indent: -10000px;
 width: 92px;
}

.flowplayer,.video-js {
 height: 300px;
 width: 450px;
}

.nimbb_controls {
 margin: 13px;
 overflow: auto;
 position: relative;
}

.nimbb_subcontrols {
 display: none !important; /* Overrides JS */
 float: right;
 margin: 0 30px 0;
 text-align: center;
 width: 50%;
}

.nimbb_subcontrols a {
 display: inline-block;
}

.object_wrapper {
 min-height: 18px;
 margin-top: 5px;
}

.play {
 background: url(../../img/sprite.gif) -341px -867px;
 display: block;
 float: left;
 height: 32px;
 left: -5px;
 margin: 0 auto;
 outline: 0px;
 position: relative;
 text-indent: -10000px;
 width: 32px;
}

.playing {
 color: #fff;
 display: block;
 font-size: 16px;
 font-weight: bold;
 margin-left: 32px;
 padding-top: 4px;
 position: absolute;
 text-align: center;
 text-decoration: none;
 top: -5px;
 width: 85%;
}

.progress_content {
 background: url(../../img/bg_recorderPlaying.gif) repeat-x;
 height: 24px;
 position: absolute;
 top: 0px;
 width: 1px;
}

.progress_wrapper {
 background: #4a4a4a;
 height: 24px;
 margin: 0 auto;
 position: relative;
 text-align: center;
 width: 80%;
}

.progress_wrapper.isRecording {
 height: 30px;
}

.progress_wrapper.isRecording .progress_content {
 background: url(../../img/bg_recorderRecording.gif) repeat-x;
 height: 30px;
}

.progress_wrapper a {
 color: #fff;
 outline: none;
 text-decoration: none;
 z-index: 1;
}

.progress_wrapper a:hover {
 cursor: auto;
}

.progress_wrapper a.play:hover,
.progress_wrapper a.stopPlaying:hover {
 cursor: pointer;
}

.record {
 background: url(../../img/sprite.gif) -235px -950px;
 display: block;
 height: 32px;
 margin: 0 auto;
 outline: 0px;
 text-indent: -10000px;
 width: 126px;
}

.record_container {
 background: #717171;
 float: none;
 margin: 0px; /*overriding Nimbb.css*/
 min-width: 300px;
 position: relative;
 text-align: center;
 width: 50%;
}

.record_text {
 color: #fff;
 display: none;
 display: block;
 height:0px;
 margin: 0 auto;
 padding: 0;
 padding: 10px 0;
 visibility: hidden;
 visibility: visible;
 width: 80%;
}

.recording {
 color: #fff;
 font-size: 16px;
 font-weight: bold;
 padding-top: 4px;
 position: absolute;
 text-align: center;
 text-decoration: none;
 width: 100%;
}

.rerecord {
 background: url(../../img/sprite.gif) -14px -950px;
 display: block;
 height: 32px;
 margin: 0 auto;
 outline: 0px;
 text-indent: -10000px;
 width: 170px;
}

.stopPlaying {
 background: url(../../img/sprite.gif) -378px -867px;
 display: block;
 float: left;
 height: 26px;
 left: -5px;
 margin: 0 auto;
 outline: 0px;
 position: relative;
 text-indent: -10000px;
 width: 32px;
 
 /**
  * This code was copied from nimbb.css for an undocumented reason.
  * It was originally set to 9 which was causing the stop button to appear
  * over the top of the glossary menu. Resetting it to 1 with important to
  * override the rule in Nimbb.css
  */
 z-index: 1 !important; /* Overrides JS */
}

.stopRecording {
 background: url(../../img/sprite.gif) -115px -909px;
 display: block;
 height: 26px;
 margin: 0 auto;
 outline: 0px;
 text-indent: -10000px;
 width: 102px;
}

#palette_container {
 margin-top: -58px !important; /* Overrides palette.js override */
}

#question_container {
 background: #f3f3f3;
 float: left;
 margin: 20px;
 overflow: auto;
 width: 80%;
}

#textarea_container {
 margin: 30px 0 0 30px;
 overflow: auto;
 padding-left: 2px;
}

#textarea_container h2 {
 font-size: 18px;
 font-weight: bold;
 margin: 0px;
}

#textarea_container p {
 margin: 0px;
}

#textarea_container a.save {
 background: url(../../img/sprite.gif) -422px -868px ; 
 clear: both;
 color: #1086d9;
 display: block;
 float: right;
 font-size: 16px;
 height: 24px;
 text-decoration: none;
 text-indent: -104px;
 white-space: nowrap;
 width: 24px;
}

#textarea_container textarea {
 float: left;
 margin-left: -2px;
 padding: 0px;
 width: 100%;
}