<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="main_header_container">
    <h1 id="data_header">
    </h1>
    <h2 id="data_paragraph">
    </h2>
  </div> <!-- main_header_container -->
  <div id="main_content_container">
    <div id="feedback">
      <div id="feedback_icon">
      </div> <!-- feedback_icon -->
    </div> <!-- feedback -->
    <div id="question_container">
    </div> <!-- question_container -->
    <div id="data_transaction_buttton">
      <input type='button' id='submit_handler' class='button saveAndContinue'>
    </div> <!-- data_transaction_buttton -->
  </div> <!-- main_content_container -->
</div> <!-- main_container -->
<div id="navigation_container">
</div> <!-- navigation_container -->