<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="main_header_container">
    <h1 id="data_header">
    </h1>
    <h2 id="data_paragraph">
    </h2>
  </div> <!-- main_header_container -->
  <div id="main_content_container">
    <div id="magazine_container_wrapper">
      <div id="magazine_container">
        <div id="top_container">
          <div id="magazine_header">
            <p id="data_articleHeader">
            </p>
          </div> <!-- magazine_header -->
        </div> <!-- top_container -->
        <div id="middle_container">
          <div id="left_container">
            <h1 id="data_articleTitle">
            </h1>
            <p id="data_author">
            </p>
            <div id="data_articleColumn1">
            </div> <!-- data_articleColumn1 -->
          </div> <!-- left_container -->
          <div id="right_container">
            <div id="image_top_border">
              &nbsp;
            </div> <!-- image_top_border -->
            <div id="image_container">
              <img id="data_articleImage">
            </div> <!-- image_container -->
            <div id="data_optionalCaption">
            </div> <!-- data_optionalCaption -->
            <div id="data_articleColumn2">
            </div> <!-- data_articleColumn2 -->
          </div> <!-- right_container -->
        </div> <!--  middle_container -->
        <div id="bottom_container">
          <div id="page_number">
          </div> <!-- page_number -->
          <div id="background_border">
            &nbsp;
          </div> <!-- background_border -->
        </div><!-- bottom container -->
      </div> <!-- magazine_container -->
    </div> <!-- magazine_container_wrapper -->
  </div> <!-- main_content_container -->
</div> <!-- main_container -->
<div id="navigation_container">
</div> <!-- navigation_container -->