<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="nav_container">
  </div>
  <div id="main_header_container">
    <h1 id="data_header">
    </h1>
    <h2 id="data_paragraph">
    </h2>
  </div> <!-- main_header_container -->
  <div id="main_content_container">
  <h2 id="cumulativeScore"></h2>
	<div id="body_container">
		<div id="activityList" class="aleInline leftRegion">
		</div>
		<div class="aleInline rightRegion">
			<div id="rightTop_container" class="rightTop"></div>
			<div class="rightBottom">
				<div id="data_viewer">
				  <div id="contentBody">
      			</div>
				</div>
			</div>
			<a id="finish_btn" class="button ALE_complete">
			</a>
		</div>
	</div> <!-- body_container -->
  </div> <!-- main_content_container -->
</div> <!-- main_container -->
<div id="navigation_container">
</div> <!-- navigation_container -->