<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="main_header_container">
    <h1 id="data_header">
    </h1>
    <h2 id="data_paragraph">
    </h2>
  </div> <!-- main_header_container -->
  <div id="main_content_container">
    <div id="webpage_container_wrapper">
      <div id="webpage_container">
        <div id="webpage_header_container">
          <div id="data_browserTitle">
          </div> <!-- data_browserTitle -->
          <div id="data_url">
          </div> <!-- data_url -->
        </div> <!-- webpage_header_container -->
        <div id="middle_container">
          <div id="data_navigationLinks">
          </div> <!-- data_navigationLinks -->
          <div id="webpage_wrapper">
            <div id="webpage_header">
              <h1 id="data_articleTitle">
              </h1>
            </div> <!-- webpage_header -->
            <div id="webpage_body">
              <div id="text_container">
                <div id="data_articleColumn1">
                </div> <!-- data_articleColumn1 -->
              </div> <!-- left_container -->
              <div id="graphic_container">
                <div id="image_container">
                  <img id="data_image" src="resources/img/blank.gif">
                </div> <!-- image_container -->
                <div id="data_optionalCaption">
                </div> <!-- data_optionalCaption -->
                <div id="data_articleColumn2">
                </div> <!-- data_articleColumn2 -->
              </div> <!-- right_container -->
            </div> <!-- webpage_body -->
          </div> <!-- webpage_wrapper -->
        </div><!--  middle_container -->
        <div id="bottom_container">
        </div> <!-- bottom container -->
      </div> <!--.webpage_container.-->
    </div> <!-- webpage_container_wrapper -->
  </div> <!-- main_content_container -->
</div> <!-- main_container -->
<div id="navigation_container">
</div> <!-- navigation_container -->