<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="nav_container">
  </div>
  <div class="main_wrapper">
  	<div id="data_header"></div>
	<div id="data_instruction"></div>
	<div class="aleInline leftRegion">
		<div id="data_questionTitle"></div>
		<div id="data_question"></div>
		<div class="imageDiv">
			<div id="data_image">
			</div>
		</div>
  	</div>
	<div class="aleInline rightRegion">
		<div id="selectJustify_container">
    		<div id="question_container">
				<div id="question_content">
				</div>
			</div> <!-- question_container -->
		</div> <!-- vidNotes_container -->
	</div>
  </div>
</div> <!-- main_container -->
