body.interview div.excerpt,
#lightbox_toolkit_lb.interview div.excerpt {
 height: auto !important;
}

body.interview #main_container,
#lightbox_toolkit_lb.interview #main_container {
 min-width: 960px;
 max-width: 995px;
}

div#lightbox_toolkit_lb.interview #main_container #main_header_container {
 margin-left: 20px;
}
body.noteTextEmail #lightbox_toolkit_lb #main_content_container {
 overflow: visible;
}

a.nextVideo {
 background-image: url("../../img/buttons_sprite.png");
 background-position: -1049px -34px;
 color: #000;
 float: left;
 margin-left: 10px;
 outline: none;
 height: 24px;
 width: 31px;
}

a.transcript {
 clear: both;
 float: left;
 margin-left: 40px;
}

div.button_container { 
 margin-bottom: 20px;
 margin-top: 20px;
 text-align: center;
}

div.excerpt.ui-accordion-content-active {
 margin-top: -13px;
 padding-bottom: 10px !important;
 padding-top: 13px !important;
}

div.excerpt li a {
 color: #1086D9;
 text-decoration: none;
}

div.excerpt li a.active {
 color: black;
}

div.excerpt li {
 color: #999999;
 font-size: 10pt;
 text-indent: 0;
}

div.excerpt li span.status {
 font-style: italic;
}

div.excerpt ul {
 list-style-image: url("../../img/arrow-li.gif");
 margin: 0;
 padding: 0 0 0 22px;
}

h3.ui-accordion-header {
 background: url("../../img/arrows.gif") no-repeat scroll 15px 11px #E5E5E5;
 color: #1086D9;
 cursor: pointer;
 font-size: 16px;
 font-weight: bold;
 margin: 10px 10px 0;
 min-height: 19px;
 padding: 10px 0 10px 15px;
 text-indent: 15px;
}

h3.ui-accordion-header a {
 color: #1086D9;
 text-decoration: none;
}

h3.ui-accordion-header.ui-state-active a {
 color: black;
}

h3.ui-accordion-header.ui-state-active {
 background-color: white;
 background-position: 15px -29px;
 color: #333333;
 cursor: auto;
}

div#data_videoURL {
 float: left;
 margin-left: 40px;
 width: 500px;
}

.interview #main_container div.excerpt {
 background-color: white;
 margin: 0 10px 5px;
 padding-left: 35px;
 padding-right: 35px;
}

.interview div#question_content {
 background-color: #F5F5F5;
 float: left;
 margin-left: 15px;
 padding-bottom: 5px;
 width: 400px;
}

.interview .flowplayer, .interview .video-js{
 height: 333px;
}
