<div id="masthead_container">
</div> <!-- masthead_container -->
<div id="main_container">
  <div id="main_header_container">
    <h1 id="data_header">
    </h1> <!-- data_header -->
    <h2 id="data_paragraph">
    </h2> <!--  data_paragraph -->
  </div> <!-- main_header_container -->
  <div id="main_content_container">
    <div id="contents">
    </div> <!-- content -->
    <div id="webpage_content_container">
      <div id="webpage_body_container">
        <div id="scroller_content_container">
          <ul id="mycarousel" class="jcarousel-skin-tango">
          </ul> <!-- mycarousel -->
        </div> <!-- scroller_content_container -->
      </div> <!-- webpage_body_container -->
    </div> <!-- webpage_content_container -->
  </div> <!-- main_content_container -->
</div> <!-- main_container -->
<div id="navigation_container">
</div> <!-- navigation_container -->